@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@100;300&display=swap');
body{
    background-color: aqua;
}
.outborder{
    border: 1px solid rgb(192, 192, 192);
    height: 65vw;
    width: 60vw;
    border-radius: 11px;
    margin-top: 2.5vw;
    margin-left: auto;
    margin-right: auto;    
}
.show{
    position: absolute;
    right: 32vw;
    bottom: 0vw;
    color: black;
    font-weight: bold;
    font-size: 2.5vw;
}
input[type="checkbox"]{
    margin-right: 2vw;
    width: 2vw;
    height: 2vw;
}
.loghead{
    text-align: center;
    font-size: 2vw;
    margin-top: 5vw;
    font-family: 'Baloo Bhai 2', cursive;
     font-family: 'Roboto', sans-serif;
}
.logmain{
    padding: 1vw;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhai 2', cursive;
     font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 2.5vw;
    text-align: center;
    color: black;
    font-family: 'Baloo Bhai 2', cursive;
     font-family: 'Roboto', sans-serif;
}
form{
 padding:1vw;
 text-align: center;
 display: inline-block;
 position: relative;
 
}
.fieldset{
    position: relative;
    margin: 1vw;
    
}
input{
    outline: none;

}
input:valid ~ .placeholder{
    opacity: 0;
}
.inputFS{
    height: 3vw;
    width: 50vw;
    font-size: 2vw;
    border: 1px solid rgb(224, 224, 224);
    transition: 0.5s;
    padding: 1vw;    
}
.inputFS:focus{
    border: 2px solid blue;
    border-top: 2px solid transparent;
    
}
.holder{
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 6.5vw;
    opacity: 0;
    transition: 0.5s;
    
}
.before{
    border-top:2px solid blue;
    float: left;
    width: 5vw;

}
.after{
border-top: 2px solid blue;
width: 30vw;

}
.toph{
    font: 2vw normal;
}
.placeholder{
    position: absolute;
    top: 1.3vw;
    left: 1vw;
    font-size: 2vw;
    font-weight: 600;
    color: #80868b;
    pointer-events: none;

}
input:focus ~ label.placeholder{
    transition: 0.7s;
    opacity: 0;
}
input:focus + .holder{
    opacity: 1;
    transition: 00.5;
}
.fbutton{
    display: flex;
    justify-content: space-between;
    padding: 5vw 5vw;
    
}
.fbutton >a{
    font-size: 2.5vw;
    text-decoration: none;
    color: #038a58;
    font-weight: bold;
}
.fbutton >button{
    font-size: 2.5vw;
    background-color: #04AA6D;
    border-radius: 5px;
    border: none;
    padding: 1vw;
    color: white;
    font-weight: bold;
}
.fbutton >button:hover{
    background-color: #00b472;
    
}
